.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명한 배경 */
  }
  
  .openModal {
    display: block; /* 모달 열기 */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-content>h2{
    margin-top: 80px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin: 30px auto;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
  }
  